body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../public/img/fondo.jpg);
  }
  
  code {
    font-family: 'Baloo Bhaijaan 2', cursive;
  }

  .main{
    display: flex;
    justify-content: center;
    width: 100%;
    height:680px;
    align-items: center;
}

.calculator {
  display: grid;
  overflow: hidden;
  background-color: rgba(239, 244, 249, 0.507);
  border: 1px solid gray;
  border-radius: 6px;
  width: 416px;
  height: 72%;
  justify-content: center;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: 100px repeat(7, 50px);
}

button {
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: larger;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  padding: 6px;
}
p{
  position: absolute;
  bottom: 0px;
  right: 15px;
  margin: 0px;
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-size: xxx-large;
}
.inner:first-child {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  border: none;
}
